<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Class 06 Assignment By Emil</title>
		<link rel="stylesheet" href="../fontawesome/css/all.min.css">
		<link rel="stylesheet" href="../css/style2.css">
	</head>
	<body>
		<div class="back"><a href="../index.html">Back</a></div>

		<!-- Topbar Area -->
		<div class="topbar">
			<div class="left-icons">
				<i class="fas fa-arrow-left"></i>
				<i class="fas fa-arrow-right"></i>
				<i class="fas fa-redo-alt"></i>
			</div>
			<div class="input">
				<input type="text" placeholder="www.exapmle.com">
			</div>
			<div class="right-icons">
				<i class="fas fa-bars"></i>
				<i class="far fa-heart"></i>
				<i class="far fa-user"></i>
			</div>
		</div>

		<!-- Logo Area -->
		<div class="logo">
			<div class="circle-logo"></div>
			<div class="item1"></div>
			<div class="item2"></div>
			<div class="item3"></div>
		</div>

		<!-- First Section -->
		<div class="section1">
			<div class="box1"></div>
			<div class="box2">
				<div class="heading"></div>
				<div class="content1"></div>
				<div class="content2"></div>
				<div class="content3"></div>
				<div class="content4"></div>
				<div class="content5"></div>
				<div class="content6"></div>
				<div class="content7"></div>
				<div class="content8"></div>
			</div>
		</div>

		<!-- Second Section -->
		<div class="section2">
			<div class="box1">
				<div class="image"></div>
				<div class="heading"></div>
				<div class="content1"></div>
				<div class="content2"></div>
			</div>
			<div class="box2">
				<div class="image"></div>
				<div class="heading"></div>
				<div class="content1"></div>
				<div class="content2"></div>
			</div>
			<div class="box3">
				<div class="image"></div>
				<div class="heading"></div>
				<div class="content1"></div>
				<div class="content2"></div>
			</div>
		</div>

		<!-- Third Section -->
		<div class="section3">
			<div class="box1">
				<div class="image"></div>
				<div class="heading"></div>
				<div class="content1"></div>
				<div class="content2"></div>
			</div>
			<div class="box2">
				<div class="image"></div>
				<div class="heading"></div>
				<div class="content1"></div>
				<div class="content2"></div>
			</div>
			<div class="box3">
				<div class="image"></div>
				<div class="heading"></div>
				<div class="content1"></div>
				<div class="content2"></div>
			</div>
		</div>

		<!-- Footer Part -->
		<footer>
			<div class="footer-section">
				<div class="widget1">
					<div class="heading"></div>
					<div class="content1"></div>
					<div class="content2"></div>
					<div class="content3"></div>
					<div class="content4"></div>
					<div class="content5"></div>
					<div class="content6"></div>
				</div>
				<div class="widget2">
					<div class="heading"></div>
					<div class="content1"></div>
					<div class="content2"></div>
					<div class="content3"></div>
					<div class="content4"></div>
					<div class="content5"></div>
					<div class="content6"></div>
				</div>
				<div class="widget3">
					<div class="heading"></div>
					<div class="content1"></div>
					<div class="content2"></div>
					<div class="content3"></div>
					<div class="content4"></div>
					<div class="content5"></div>
					<div class="content6"></div>
				</div>
				<div class="widget4">
					<div class="heading"></div>
					<div class="social-icons">
						<div class="social1"></div>
						<div class="social2"></div>
						<div class="social3"></div>
						<div class="social4"></div>
						<div class="social5"></div>
					</div>
					<div class="content1"></div>
					<div class="content2"></div>
					<div class="content3"></div>
					<div class="content4"></div>
				</div>
			</div>
			<div class="footer-part">
				<div class="left-content"></div>
				<div class="right-content"></div>
			</div>
		</footer>
	</body>
</html>